<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% if assets.css %}
    <link rel="stylesheet" href="assets/{{ assets.css }}">{% endif %}
</head>

<body>
    {% block content %}{% endblock %}

    {% if not noFooter %}
    <footer>
        <a href="https://github.com/alcyon-dev/mookbars">Mookbars</a> {{ version }} by <a
            href="https://alcyon.dev">Alcyon Technologies</a>
    </footer>
    {% endif %}

    {% if assets.js %}
    <script src="assets/{{ assets.js }}"></script>{% endif %}
</body>

</html>