MB_TITLE=🔖 My Bookmarks

#MB_DELAY=10
#MB_NO_FOOTER=true
#MB_NO_HEADER=true

MB_GROUPS=db,tools,sites

MB_GROUP_db_TITLE=Database
MB_GROUP_db_LINKS=pgadmin,dbgate
MB_GROUP_db_ICON=fa7-solid:database

MB_LINK_pgadmin_LABEL=PgAdmin
MB_LINK_pgadmin_URL=https://pgadmin.myinfras.test
MB_LINK_pgadmin_ICON=fa7-brands:postgresql

MB_LINK_dbgate_LABEL=DbGate
MB_LINK_dbgate_URL=https://dbgate.myinfras.test
MB_LINK_dbgate_ICON=fa7-solid:torii-gate

MB_GROUP_tools_TITLE=Tools
MB_GROUP_tools_LINKS=console
MB_GROUP_tools_ICON=fa7-solid:screwdriver-wrench

MB_LINK_console_LABEL=Console
MB_LINK_console_URL=https://console.myinfras.test
MB_LINK_console_ICON=fa7-solid:terminal

MB_GROUP_sites_TITLE=Sites
MB_GROUP_sites_LINKS=aws,google
MB_GROUP_sites_ICON=fa7-solid:globe

MB_LINK_aws_LABEL=AWS
MB_LINK_aws_URL=https://aws.amazon.com
MB_LINK_aws_ICON=fa7-brands:aws

MB_LINK_google_LABEL=Google
MB_LINK_google_URL=https://google.com
MB_LINK_google_ICON=fa7-brands:google
