:8007 {
	root * /app/public

	handle /health {
		respond "ok" 200
	}

	@index path /
	handle @index {
		try_files /index.html /missing.html
		file_server
	}

	handle /* {
		file_server
	}

	handle {
		respond "Not Found" 404
	}
}
